/* Reset Basico */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {

    /* Fuentes */
    --font-primary: 'Google Sans', sans-serif;

    /* Colores de Contenedores principales */
    --bg-body: #131313;
    --bg-container: #26272b;
    --border-container: #3e3b40;
    --bg-task: #f30045;
    --bg-task-complete: #ce4f71;
    --bg-container-counter: #25101d;
    --icon-color-hover: #ffffff;

    /* Colores de textos */
    --text-primary: #f30045;
    --text-secondary: #edefab;
    --text-counter: #ffb4d3;

    /* Espacios */
    --space-l: 1rem;
    --space-n: .8rem;
    --space-s: .5rem;

    /* Bordes */

    --border-radius: 4px;
    --border-size: 1px;
    --border-container: #3a3b40;

    /* Botones color*/

    --btn-add-color: #f30045;
    --btn-hide-color: #ff2474;
    --btn-remove-color: #e50b62 ;


    --btn-add-color-hover: #000000;
    --btn-hide-color-hover: #000000;
    --btn-remove-color-hover: #000000;

    --btn-text-color:var(--bg-body);
    --btn-text-color-hover: var(--text-primary);

}

body{
    display: flex;
    justify-content: center;
    align-items: stretch;
    min-height: 100vh;
    font-family: var(--font-primary);
    padding: var(--space-l);
    background-color: var(--bg-body);
}

.contenedor {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
    width: 100%;
    max-width: 640px;
    height: fit-content;

    padding: var(--space-l);

    border-width: var(--border-size);
    border-style: solid;
    border-color: var(--border-container);

    border-radius: var(--border-radius);
    background-color: var(--bg-container);
}

.titulo {
    font-size: 1.6rem;
    color: var(--text-primary);
}

.mensaje {
    font-size: 1rem;
    color: var(--text-secondary);
}

.tarea-entrada {
    width: 100%;
    font-size: 1.2rem;
    padding: var(--space-n);
    border-radius: var(--border-radius);
    border: none;
}

.contenedor-botones {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-n);
    width: 100%;
}

.boton {
    padding: var(--space-n) var(--space-s);
    border: none;
    border-radius: var(--border-radius);
    font-size: .9rem;
    font-weight: 700;
    cursor: pointer;
}

.boton:hover {
    color: var(--btn-text-color-hover);
}

.boton-agregar {
    background-color: var(--btn-add-color);
}

.boton-ocultar{
    background-color: var(--btn-hide-color);
}

.boton-eliminar{
    background-color: var(--btn-remove-color);
}


.boton-agregar:hover {
    background-color: var(--btn-add-color-hover);
}

.boton-ocultar:hover{
    background-color: var(--btn-hide-color-hover);
}

.boton-eliminar:hover{
    background-color: var(--btn-remove-color-hover);
}

.contenedor-conteo{
    display: flex;
    justify-content: space-between;
    gap: var(--space-n);
    padding: var(--space-n);
    background-color: var(--bg-container-counter);
    border: 1px solid var(--border-container);
    border-radius: var(--border-radius);
}

.contenedor-conteo p {
    color: var(--text-counter);
    font-size: .95rem;
}

.tareas-totales, .tareas-terminadas{
    color: var(--text-primary);
    font-weight: 700;
}

.contenedor-tareas{
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
    width: 100%;
}

.tarea{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-n);
    padding: var(--space-s) var(--space-n);
    border-radius: var(--border-radius);
    background-color: var(--bg-task);
}

.tarea-texto{
    flex-grow: 1;
    flex-shrink: 1;
}

.tarea-iconos{
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    gap: var(--space-n);
}

.tarea-completada{
    background-color: var(--bg-task-complete);
    text-decoration: line-through;  
}

.tarea-iconos i {
    font-size: 1.4rem;
    color: var(--icon-color);
    cursor: pointer;
}


.tarea-iconos i:hover {
    font-size: 1.4rem;
    color: var(--icon-color-hover);
    cursor: pointer;
}