/* Reset Basico */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {

    /* Fuentes */
    --font-primary: 'Google Sans', sans-serif;

    /* Colores de Contenedores principales */
    --bg-body: #131313;
    --bg-container: #26272b;
    --border-container: #3e3b40;

    /* Colores de textos */
    --text-primary: #f30045;
    --text-secondary: #edefab;

    /* Espacios */
    --space-l: 1rem;
    --space-n: .8rem;
    --space-s: .5rem;

    /* Bordes */

    --border-radius: 4px;
    --border-size: 1px;
    --border-container: #3a3b40;

}

body{
    display: flex;
    justify-content: center;
    align-items: stretch;
    min-height: 100vh;
    font-family: var(--font-primary);
    padding: var(--space-l);
    background-color: var(--bg-body);
}

.contenedor {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 640px;
    height: fit-content;

    padding: var(--space-n);

    border-width: var(--border-size);
    border-style: solid;
    border-color: var(--border-container);

    border-radius: var(--border-radius);
    background-color: var(--bg-container);
}

.titulo {
    font-size: 1.6rem;
    color: var(--text-primary);
}

.mensaje {
    font-size: 1rem;
    color: var(--text-secondary);
}

.tarea-entrada {
    width: 100%;
    font-size: 1.2rem;
    padding: var(--space-l);
    border-radius: var(--border-radius);
    border: none;
}